<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8">
	<title>Project One</title>
	<link rel="stylesheet" href="/stylesheets/css/styles.css">
</head>

<body>
	<div class="title">
		<h1>
			Gallows game
		</h1>
		<img src="/images/gallow.jpg" alt="gallow.jpg">
	</div>

	<div class="start">
		<a class="btn btn-success" href="/create-game">START</a>
	</div>
</body>

</html>